body{
    margin: 0;
}
.container{
    display: flex;
    flex-direction: row;
    /* Our primary axis is row */
    justify-content: center;
    align-items: center;

    height: 100vh;
}

#wrapper{
   /* border-style: solid;
    border-width: 1px;
    border-color:black;*/
    
    border: 1px solid black;
}
/*

h1{
    display: inline;
}
p{
    display: inline;
}
h2{
    display: inline;
} */